body {
  background-color: black;
}

.main {
  left: 0;
  right: 0;
  height: 100px;
  margin-top: -10px;
  background-color: rgb(12, 27, 54)
}

.h1 {
  font-family: monospace;
  color: rgb(184, 184, 184);
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;
}

.library {
  margin-top: 30px;
  text-align: center;
}

.library > * {
  margin: 10px;
}

.card {
  display: inline-flex;
  color: gray;
  border-style: solid;
  width: 350px;
  height: 350px;
  border-radius: 50px;
  background-color: rgb(12, 27, 54);
  top: 50%;
  left: 50%;
  opacity: 50%;
  transition: 0.2s;
}

.card:hover {
  opacity: 100%;
  cursor: pointer;
}

.plus {
  color: gray;
  display: flex;
  justify-content: center;
  align-items: center;
  border-style: solid;
  border-radius: 50px;
  font-size: 7em;
  text-align: center;
  cursor: pointer;
  transition: 0.3s;
  width: 70px;
  height: 70px;
  opacity: 40%;
  position: fixed;
  bottom: 0;
  bottom: 4%;
  right: 0;
  right: 2%;
}

.plus:hover {
  transform: scale(1.15);
  opacity: 100%;
  color: white;
  background-color: green;
}

.add-title {
  background-color: whitesmoke;
  margin: auto;
  padding: 0 20px;
  width: 40%;
  border: 1px solid black;
  border-style: double;
  border-radius: 20px;
  text-align: center;
}

.form {
  display: none;
  position: fixed;
  box-sizing: border-box;
  z-index: 1;
  padding: 300px;
  padding-top: 10%;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.8);
  backdrop-filter: blur(2px);
}

.element {
  background-color: whitesmoke;
  margin: auto;
  padding: 20px;
  width: 40%;
  border: 1px solid black;
  border-style: solid;
  border-radius: 20px;
}

.read {
  margin: auto;
  padding: 20px;
  width: 40%;
  border: 1px solid black;
  border-style: solid;
  border-radius: 20px;
  background-color: whitesmoke;
}

input[type=text], select, textarea {
  width: 90%;
  padding: 12px;
  background: none;
  background-color: none;
  resize: vertical;
  font-size: 1.5em;
  font-weight: bold;
}

input[type=number], select, textarea {
  width: 90%;
  padding: 12px;
  background: none;
  background-color: none;
  resize: vertical;
  font-size: 1.5em;
  font-weight: bold;
}

/*options under add form*/
.options {
  display: flex;
  background: none;
  margin: auto;
  padding: 0 20px;
  width: 40%;
  border-radius: 20px;
  justify-content: center;
}

.cancel-btn {
  background-color: red;
  opacity: 50%;
  border-radius: 10px;
  font-size: 20px;
  transition: 0.2s;
  font-size: 3em;
  
}

.cancel-btn:hover {
  opacity: 100%;
  cursor: pointer;
}

.add-btn {
  background-color: green;
  opacity: 50%;
  border-radius: 10px;
  font-size: 20px;
  transition: 0.2s;
  font-size: 3em;
}

.add-btn:hover {
  opacity: 100%;
  cursor: pointer;
}