body {
  background-color: black;
  font-family: monospace;
}

h2 {
  font-family: monospace;
  font-size: 2.5rem;
  color: white;
  text-align: center;
  margin: 15px;
}

.library {
  margin-top: 10px;
  text-align: center;
}

.library > * {
  margin: 10px;
}

.plus {
  color: gray;
  display: flex;
  justify-content: center;
  align-items: center;
  border-style: solid;
  border-radius: 50px;
  font-size: 7em;
  text-align: center;
  cursor: pointer;
  transition: 0.3s;
  width: 70px;
  height: 70px;
  opacity: 40%;
  position: fixed;
  bottom: 0;
  bottom: 4%;
  right: 0;
  right: 2%;
}

.plus:hover {
  transform: scale(1.15);
  opacity: 100%;
  color: white;
  background-color: green;
}

/*form styling start*/
.form {
  display: none;
  border-style: double;
  border-color: white;
  z-index: 1;
  padding: 1%;
  width: min-content;
  margin: auto;
  overflow: auto;
  backdrop-filter: blur(5px);
  text-align: center;
}

  input, select, textarea {
    padding: 5px;
    margin: auto;
    font-size: 2.5em;
    font-weight: bold;
  }

  label {
    font-size: 2.5em;
    font-weight: bold;
    color: white;
  }

  input[type="checkbox"] {
    width: 30px;
    height: 30px;
  }

  .add-btn {
    background-color: green;
    opacity: 50%;
    transition: 0.2s;
    font-size: 3em;
    margin-top: 5%;
  }
  
  .add-btn:hover {
    opacity: 100%;
    cursor: pointer;
  }
/*form styling end*/

/*book card styling start*/
.book-card {
  display: inline-block;
  color: white;
  background-color: rgb(12, 27, 54);
  border-style: ridge;
  border-radius: 10%;
  border-color: white;
  padding: 2vmin;
  width: min-content;
  height: min-content;
  opacity: 75%;
  transition: 0.2s;
}

.book-card:hover {
  opacity: 100%;
  cursor: pointer;
}

.container {
  margin: auto;
}

  /*footer styling start*/
  .remove-btn {
    color: silver;
    background: none;
    border: none;
    opacity: 50%;
    transition: 0.3s;
    font-size: 3em;
    width: 100%;
  }
  
  .remove-btn:hover {
    opacity: 100%;
    color: red;
    cursor: pointer;
  }

  /*footer styling end*/

  .title {
    margin: auto;
    font-size: 3em;
    font-style: italic;
    width: min-content;
    height: min-content;
  }

  .author {
    font-size: 2em;
  }

  .pages {
    margin-top: 20px;
    font-size: 2em;
  }

  hr {
    margin-top: 20px;
  }

/*book card styling end*/